@import "tailwindcss";

@theme {
  --color-primary: #05020a;
  --color-accent: #a855f7;
  --color-brand-blue: #c084fc;
  --color-brandBlue: #c084fc;
  --color-text-light: #ffffff;
  --color-textLight: #ffffff;
  --color-glass-dark: rgba(192, 132, 252, 0.05);

  --font-sans: "Inter", system-ui, sans-serif;
}

@layer base {
  body {
    background-color: var(--color-primary);
    color: var(--color-textLight);
    font-family: var(--font-sans);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
  }
}

::selection {
  background-color: #0076d6;
  color: white;
}

.glass-panel {
  background: rgba(255, 255, 255, 0.03);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border: 1px solid rgba(255, 255, 255, 0.08); /* slight inner border for dimension */
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.4);
}

.bg-grid {
  background-size: 50px 50px;
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0.03) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(255, 255, 255, 0.03) 1px, transparent 1px);
  mask-image: linear-gradient(to bottom, transparent 5%, black 40%, transparent 95%);
  -webkit-mask-image: linear-gradient(to bottom, transparent 5%, black 40%, transparent 95%);
}
